<!-- <ul>
    <li *ngFor="let user of users">
        {{ user.firstName | uppercase }}
        {{ user.lastName | titlecase}} -
        <span [ngClass]="user.isLogged ? 'online' : 'offline'">
            ({{ user.isLogged ? 'ONLINE' : 'OFFLINE'}})
        </span>
        <span [statusIndicator]="user.isLogged"></span>
    </li>
</ul> -->

<div class="user-container" *ngFor="let user of users">
  <div>
    {{ user.firstName | uppercase }}
    {{ user.lastName | titlecase}} -
    <span [statusIndicator]="user.isLogged"></span>
  </div>
  <div class="d-flex align-items-center">
    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
    <!-- <mat-icon class="icon" (click)="goToProfile(user.id)"></mat-icon> -->
    <span class="material-icons md-24 icon" (click)="goToProfile(user.id)" title="Vai al profilo">face</span>
    <mat-icon class="icon" (click)="deleteUser(user.id)" title="Elimina">delete</mat-icon>
  </div>
</div>
